.input-container {
    display: flex;
    gap: 1.5rem;
    padding-bottom: 3rem;
    border-bottom: 2px solid #f0f0f0;
    position: relative;
    margin-bottom: 2rem;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  
  .input-group label {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1rem;
    color: #6b6b6b;
    font-weight: 700;
  }
  
  .input-group input {
    width: 140px;
    padding: 0.8rem 1.2rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
  }
  
  .input-group input::placeholder {
    color: #c0c0c0;
    font-weight: 700;
  }
  
  .input-group input:focus {
    outline: 1px solid #854dff;
    border-color: #854dff;
  }
  
  .calculate-button {
    background: #854dff;
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: -35px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  
  .calculate-button:hover {
    background: #6b3dcc;
    transform: scale(1.05);
  }
  
  .calculate-button.error {
    background: #ff5757;
  }
  
  /* Estilos de erro */
  .error-message {
    color: #ff5757;
    font-size: 0.8rem;
    font-style: italic;
    margin-top: 0.5rem;
    display: block;
  }
  
  .error-input input {
    border-color: #ff5757 !important;
  }
  
  .error-input label {
    color: #ff5757 !important;
  }
  
  @media (max-width: 770px) {
    .input-container {
      gap: 1rem;
      padding-bottom: 2rem;
    }
  
    .input-group input {
      width: 100%;
      max-width: 110px;
      font-size: 1.3rem;
      padding: 0.7rem;
    }
  
    .calculate-button {
      width: 65px;
      height: 65px;
      bottom: -32px;
    }
  }
  
  /* Responsivo para 430px */
  @media (max-width: 430px) {
    .input-container {
      flex-direction: row;
      align-items: center;
      padding-bottom: 2rem;
    }
  
    .input-group input {
      max-width: 80%;
      font-size: 1rem;
      padding: 0.6rem;
    }

    .input-group label {
      font-size: 0.6rem;
    }
  
    .calculate-button {
        right: 50%;
        bottom: -27.5px;
        transform: translateX(50%);
        width: 50px;
        height: 50px;
    }
  
    .arrow-icon {
      width: 25px;
      height: 25px;
    }
  }