.age-calculator-container {
  background: white;
  align-items: center;
  width: 100%;
  max-width: 700px;
}

.input-container {
  display: flex;
  
  gap: 1.5rem;
  padding-bottom: 3rem;
  border-bottom: 2px solid #f0f0f0;
  position: relative;
  margin-bottom: 2rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.number {
  color: #854dff;
  margin-right: 0.8rem;
}

.label {
  color: #151515;
}


